--extra-index-url https://download.pytorch.org/whl/cu128
fastapi
uvicorn[standard]
python-multipart
opencv-python
numpy
Pillow
torch>=2.7.0
torchvision>=0.22.0
gfpgan
realesrgan
simple-lama-inpainting
basicsr
facexlib
huggingface_hub
requests
